/* @media screen and (max-width:576px) {
    .container{
        display:flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .head{
        
    }
    .head h3{
        font-size:3rem;
        width:400px;
    }
    .image img{
        width:400px;
        margin-left: 180px;
    }
}

 */


@media screen and (max-width:768px){
    .masku{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;

    }
    

}